{% extends 'polls/index.html' %}
{% load static %}
{% block titulo %} Usuario Estudiante{% endblock titulo %}
{% load crispy_forms_tags %}
{% block contenido_principal %}
    {% load socialaccount %}
    <form method="POST" action="#">
        {% csrf_token %}
        {% if error %}
            <h2>{{ error }}</h2>
        {% else %}
            <body class="bg-primary">
            <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <!-- Register Form-->
                            <div class="col-xl-8 col-lg-9">
                                <div class="card my-5">
                                    <div class="card-body p-4 text-center">
                                        <div class="h2 font-weight-bolder mb-3">Crear cuenta de Estudiante</div>
                                    </div>
                                    <hr class="my-0">

                                    <div class="card-body p-5">
                                        <form enctype="multipart/form-data" class="form-horizontal" method="post">
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    {{form.nombres|as_crispy_field}}
                                                </div>
                                                <div class="col-md-6">
                                                    {{form.apellidos|as_crispy_field}}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">{{form.correo|as_crispy_field}}</div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    {{form.clave|as_crispy_field}}
                                                </div>
                                                <div class="col-md-6">
                                                    <div id="div_id_clave" class="control-group">
                                                        <label for="id_clave" class="control-label requiredField"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                            Repetir Contraseña: </font></font><span class="asteriskField"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                                        </label>
                                                        <div class="controls">
                                                            <input type="password" name="clave1" class="form-control textinput textInput" placeholder="Repita Su Contraseña" maxlength="60" required="" id="id_clave">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row justify-content-center">
                                                <div class="card lift lift-sm" style="width: 36rem;">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Recuerde que su contraseña debe de contener por lo menos los siguientes parámetros:</h5>
                                                        <p class="card-text">• Mínimo 8 caracteres</p>
                                                        <p class="card-text">• Debe de tener letras y números</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group d-flex align-items-center justify-content-between">
                                                <div class="custom-control custom-control-solid custom-checkbox">
                                                    <input class="custom-control-input small" id="customCheck1" type="checkbox"><label class="custom-control-label mr-3" for="customCheck1">Acepto los terminos de servicios</a>.</label>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Crear Cuenta</button>
                                            </div>
                                        </form>
                                    </div>
                                    <hr class="my-0">
                                    <div class="card-body px-5 py-4">
                                        <div class="row justify-content-center">
                                            <a href="{% provider_login_url 'google' %}" class="btn btn-google mr-2 my-1"><svg class="bi bi-envelope-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M.05 3.555L8 8.414l7.95-4.859A2 2 0 0014 2H2A2 2 0 00.05 3.555zM16 4.697l-5.875 3.59L16 11.743V4.697zm-.168 8.108L9.157 8.879 8 9.586l-1.157-.707-6.675 3.926A2 2 0 002 14h12a2 2 0 001.832-1.195zM0 11.743l5.875-3.456L0 4.697v7.046z"/></svg><!-- <i class="fab fa-google mr-2"></i> -->&nbsp; Iniciar Sesion Con Gmail </a>
                                        </div>
                                        <br>
                                        <div class="small text-center">¿Tienes una Cuenta? <a href="{% url 'login' %}">Sign in!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
            </body>
        {% endif %}
    </form>
{% endblock contenido_principal %}
{% block footer %}{% endblock %}
{% block extrajs %}
    <script>
    $(document).ready(function() {
	//variables
	var pass1 = $('[name=clave]');
	var pass2 = $('[name=clave1]');
	var confirmacion = "•  Las contraseñas si coinciden";
	var negacion = "•  Las contraseñas no coinciden";
	//oculto por defecto el elemento span
	var span = $('<span></span>').insertAfter(pass2);
	span.hide();
	//función que comprueba las dos contraseñas
	function coincidePassword(){
	var valor1 = pass1.val();
	var valor2 = pass2.val();
	//muestro el span
	span.show().removeClass();
	//condiciones dentro de la función
	if(valor1 != valor2){
	span.text(negacion).addClass('negacion');
	}
	if(valor1==valor2){
	span.text(confirmacion).removeClass("negacion").addClass('confirmacion');
	}
	}
	//ejecuto la función al soltar la tecla
	pass2.keyup(function(){
	coincidePassword();
	});
});
    </script>
    <style>
        .negacion{color: #ff0000 ;}
    </style>
{% endblock extrajs %}



