<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Human Mind Set</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="{% static "img/favicon.png" %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="nav-fixed">
        <nav class="topnav navbar navbar-expand shadow navbar-light bg-dark text-light" id="sidenavAccordion">
            <a class="navbar-brand d-none d-sm-block text-light" href="index.html">Human Mind Set</a><button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 mr-lg-2" id="sidebarToggle" href="#"><i class="text-light" data-feather="menu"></i></button>


            <ul class="navbar-nav align-items-center ml-auto">
                <li class="nav-item dropdown no-caret mr-3 dropdown-user">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="https://source.unsplash.com/QAB-WJcbgJk/60x60"/></a>
                    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <img class="dropdown-user-img" src="https://source.unsplash.com/QAB-WJcbgJk/60x60" />
                            <div class="dropdown-user-details">
                                <div class="dropdown-user-details-name ">Valerie Luna</div>
                                <div class="dropdown-user-details-email">vluna@aol.com</div>
                            </div>
                        </h6>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sidenav shadow-right  sidenav-dark">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">
                            <div class="sidenav-menu-heading text-light">Informacion del usuario</div>
                            <a class="nav-link" href="index.html">
                                <div class="nav-link-icon"><i data-feather="feather"></i></div>
                                Perfil
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-right text-light"></i></div
                            ></a>
                        </div>

                        <div class="nav accordion" id="accordionSidenav">
                            <div class="sidenav-menu-heading text-light">Sección de horaros</div>
                            <a class="nav-link" href="index.html">
                                <div class="nav-link-icon"><i data-feather="activity"></i></div>
                                Horarios
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-right text-light"></i></div
                            ></a>
                        </div>


                        <div class="nav accordion" id="accordionSidenav">
                            <div class="sidenav-menu-heading text-light">Información de estudiantes</div>
                            <a class="nav-link" href="index.html">
                                <div class="nav-link-icon"><i data-feather="book-open"></i></div>
                                Estudiantes
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-right text-light"></i></div
                            ></a>
                        </div>

                        <div class="nav accordion" id="accordionSidenav">
                            <div class="sidenav-menu-heading text-light">Información sobre ubicaciones</div>
                            <a class="nav-link" href="index.html">
                                <div class="nav-link-icon"><i data-feather="activity"></i></div>
                                Ubicación
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-right text-light"></i></div
                            ></a>
                        </div>

                        <div class="nav accordion" id="accordionSidenav">
                            <div class="sidenav-menu-heading text-light">Información sobre pagos</div>
                            <a class="nav-link" href="index.html">
                                <div class="nav-link-icon"><i data-feather="activity"></i></div>
                                Pagos
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-right text-light"></i></div
                            ></a>
                        </div>
                    </div>



                        
      

                    <div class="sidenav-footer">
                        <div class="sidenav-footer-content">
                            <div class="sidenav-footer-subtitle text-light">Inicio de sesión como:</div>
                            <div class="sidenav-footer-title text-light">Valerie Luna</div>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="page-header pb-10 page-header-dark bg-success">
                        <div class="container-fluid">
                            <div class="page-header-content">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="file"></i></div>
                                    <span>Human Mind Set</span>
                                </h1>
                                <div class="page-header-subtitle">[ Aqui ira un lema o descripcion ]</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="container-fluid mt-n10">
                    {% block contenido %}
                        <div class="card">
                            <div class="card-header">Example Card</div>
                            <div class="card-body">This is a blank page. You can use this page as a boilerplate for creating new pages!</div>
                        </div>
                    {% endblock contenido %}
                    </div>
                    
                </main>

                <footer class="footer mt-auto footer-light">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 small">Copyright &copy;</div>
                            <div class="col-md-6 text-md-right small">
                                <a href="#!">Privacy Policy</a>
                                &middot;
                                <a href="#!">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static "js/scripts.js" %}"></script>
                {% block extrajs %}
        {% endblock extrajs %}
    </body>
</html>
