{% load crispy_forms_tags %}
<div class="modal-dialog " role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" class="btn-primary"  id="exampleModalLabel">Editar Valor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{% url 'editar_valor' object.id_persona %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
               {{form.nombre_certificado|as_crispy_field}}
                {{form.institucion_emisora|as_crispy_field}}
                <div class="form-row">
                    <div class="col-md-6">
                        {{form.fecha_inicio|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{form.fecha_fin|as_crispy_field}}
                    </div>
                </div>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>